# Greenhouse Data Analysis

This notebook contains analysis of our greenhouse performance data across multiple datasets:
- Revenue by Greenhouse by Crop
- Crop Calendar
- Hydronomics Data

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [6]:
# Load the datasets
DATA_DIR = './data'
revenue_df = pd.read_csv(f'{DATA_DIR}/Revenue by Greenhouse by Crop.csv')
calendar_df = pd.read_csv(f'{DATA_DIR}/crop calendar weeks 2025-08 to 2025-32.csv')
hydro_df = pd.read_csv(f'{DATA_DIR}/Hydronomics Data - GH1.csv')

# Display basic information about each dataset
print("=== Revenue by Greenhouse by Crop Dataset ===")
print("\nShape:", revenue_df.shape)
print("\nColumns:", revenue_df.columns.tolist())
print("\nFirst few rows:")
display(revenue_df.head())
print("\n" + "="*50 + "\n")

print("=== Crop Calendar Dataset ===")
print("\nShape:", calendar_df.shape)
print("\nColumns:", calendar_df.columns.tolist())
print("\nFirst few rows:")
display(calendar_df.head())
print("\n" + "="*50 + "\n")

print("=== Hydronomics Data Dataset ===")
print("\nShape:", hydro_df.shape)
print("\nColumns:", hydro_df.columns.tolist())
print("\nFirst few rows:")
display(hydro_df.head())

=== Revenue by Greenhouse by Crop Dataset ===

Shape: (240, 15)

Columns: ['resource_tag', 'crop_name', 'harvest_week_num', 'week_label', 'b2b_b_target_revenue', 'hotel_b_target_revenue', 'b2b_b_harvest_revenue', 'hotel_b_harvest_revenue', 'target_kg', 'kg_harvested', 'pct_of_target_kg', 'target_unit_g', 'harvest_unit_g', 'pct_of_target_unit_g', 'current_week']

First few rows:

,resource_tag,crop_name,harvest_week_num,week_label,b2b_b_target_revenue,hotel_b_target_revenue,b2b_b_harvest_revenue,hotel_b_harvest_revenue,target_kg,kg_harvested,pct_of_target_kg,target_unit_g,harvest_unit_g,pct_of_target_unit_g,current_week
0,GH1,Arugula,2025-10,Mar-03 w10,64000,76800,2300,2760,128,4.6,-96.41,29,1.24,-95.72,2025-26
1,GH1,Arugula,2025-11,Mar-10 w11,64000,76800,1650,1980,128,3.3,-97.42,29,1.11,-96.17,2025-26
2,GH1,Arugula,2025-12,Mar-17 w12,64000,76800,3400,4080,128,6.8,-94.69,29,2.15,-92.59,2025-26
3,GH1,Arugula,2025-13,Mar-24 w13,64000,76800,23950,28740,128,47.9,-62.58,29,10.30,-64.48,2025-26
4,GH1,Arugula,2025-14,Mar-31 w14,64000,76800,27300,32760,128,54.6,-57.34,29,10.87,-62.52,2025-26

==================================================

=== Crop Calendar Dataset ===

Shape: (461, 10)

Columns: ['program_id', 'crop_id', 'crop_name', 'resource_tag', 'harvest_week_num', 'kg_harvested', 'units_harvested', 'seeding_date', 'transplant_date', 'harvest_date']

First few rows:

,program_id,crop_id,crop_name,resource_tag,harvest_week_num,kg_harvested,units_harvested,seeding_date,transplant_date,harvest_date
0,910,12,Arugula,PNQ-GH1,2025-08,NaN,NaN,2025-01-06 00:00:00+00,2025-01-27 00:00:00+00,2025-02-17 00:00:00+00
1,910,12,Arugula,PNQ-GH1,2025-09,NaN,NaN,2025-01-13 00:00:00+00,2025-02-03 00:00:00+00,2025-02-24 00:00:00+00
2,901,14,Swiss Chard,PNQ-GH1,2025-09,NaN,NaN,2025-01-13 00:00:00+00,2025-02-03 00:00:00+00,2025-02-24 00:00:00+00
3,904,16,Watercress,PNQ-GH1,2025-09,NaN,NaN,2025-01-13 00:00:00+00,2025-02-03 00:00:00+00,2025-02-24 00:00:00+00
4,910,12,Arugula,PNQ-GH1,2025-10,4.6,3720.0,2025-01-20 00:00:00+00,2025-02-10 00:00:00+00,2025-03-03 00:00:00+00

==================================================

=== Hydronomics Data Dataset ===

Shape: (896, 5)

Columns: ['metric_code', 'date_time', 'week_num', 'value', 'location_code']

First few rows:

  metric_code   date_time week_num   value location_code
0      sys_ec  2024-12-30  2025-01  1295.0           GH1
1      sys_ec  2024-12-31  2025-01  1259.0           GH1
2      sys_ec  2025-01-01  2025-01  1265.0           GH1
3      sys_ec  2025-01-02  2025-01  1237.0           GH1
4      sys_ec  2025-01-03  2025-01  1242.0           GH1

In [4]:
# Basic data quality checks
def check_dataset(df, name):
    print(f"\n=== Data Quality Check for {name} ===")
    print("\nMissing values:")
    print(df.isnull().sum())
    print("\nData types:")
    print(df.dtypes)
    print("\nSummary statistics:")
    print(df.describe())
    print("\n" + "="*50)

# Run checks for each dataset
check_dataset(revenue_df, "Revenue Dataset")
check_dataset(calendar_df, "Calendar Dataset")
check_dataset(hydro_df, "Hydronomics Dataset")

=== Data Quality Check for Revenue Dataset ===

Missing values:
resource_tag               0
crop_name                  0
harvest_week_num           0
week_label                 0
b2b_b_target_revenue       0
hotel_b_target_revenue     0
b2b_b_harvest_revenue      0
hotel_b_harvest_revenue    0
target_kg                  0
kg_harvested               0
pct_of_target_kg           0
target_unit_g              0
harvest_unit_g             3
pct_of_target_unit_g       3
current_week               0
dtype: int64

Data types:
resource_tag                object
crop_name                   object
harvest_week_num            object
week_label                  object
b2b_b_target_revenue         int64
hotel_b_target_revenue       int64
b2b_b_harvest_revenue        int64
hotel_b_harvest_revenue      int64
target_kg                    int64
kg_harvested               float64
pct_of_target_kg           float64
target_unit_g                int64
harvest_unit_g             float64
pct_of_target_unit_g       float64
current_week                object
dtype: object

Summary statistics:
       b2b_b_target_revenue  hotel_b_target_revenue  b2b_b_harvest_revenue  \
count            240.000000              240.000000              240.00000
mean           26058.750000            28170.750000            17533.98750
std            19719.450715            21358.988551            16876.86144
min             4860.000000             5400.000000                0.00000
25%             9600.000000             9480.000000             4462.00000
50%            26250.000000            27300.000000            12933.00000
75%            33000.000000            35550.000000            27363.75000
max            78570.000000            78570.000000            96147.00000

       hotel_b_harvest_revenue   target_kg  kg_harvested  pct_of_target_kg  \
count               240.000000  240.000000    240.000000        240.000000
mean              18697.395833   56.029167     40.005417        -31.064875
std               17376.015485   40.101691     35.559896         42.901173
min                   0.000000    6.000000      0.000000       -100.000000
25%                4720.250000   19.000000      7.550000        -62.650000
50%               14059.500000   47.500000     27.000000        -32.145000
75%               28877.250000   90.000000     68.225000         -7.892500
max               96147.000000  128.000000    128.900000        127.860000

       target_unit_g  harvest_unit_g  pct_of_target_unit_g
count     240.000000      237.000000            237.000000
mean       87.162500       61.814388            -35.049958
std        49.545156       43.526260             28.902923
min        24.000000        1.110000            -96.170000
25%        33.000000       20.430000            -54.880000
50%       105.000000       59.560000            -31.930000
75%       133.000000       98.440000            -17.650000
max       162.000000      164.420000             80.480000

==================================================

=== Data Quality Check for Calendar Dataset ===

Missing values:
id                           0
resource_tag                 0
program_id                   0
crop_id                      0
group_tag                    0
weekly_harvest_channels      0
alloc_date                   0
seeding_date                 0
target_seedlings             0
transplant_date              0
harvest_date                 0
activity_status              0
seeding_rows                 0
harvest_units                0
harvest_week_num            24
kg_harvested               245
units_harvested            245
dtype: int64

Data types:
id                           int64
resource_tag                object
program_id                   int64
crop_id                      int64
group_tag                   object
weekly_harvest_channels      int64
alloc_date                  object
seeding_date                object
target_seedlings             int64
transplant_date             object
harvest_date                object
activity_status             object
seeding_rows                 int64
harvest_units                int64
harvest_week_num            object
kg_harvested               float64
units_harvested            float64
dtype: object

Summary statistics:
                id  program_id     crop_id  weekly_harvest_channels  \
count   485.000000   485.00000  485.000000               485.000000
mean   2565.389691   897.22268   14.865979                36.513402
std     270.813152     6.93386   11.354750                47.256841
min    1431.000000   887.00000    1.000000               -17.000000
25%    2476.000000   892.00000    6.000000                11.000000
50%    2598.000000   896.00000   12.000000                27.000000
75%    2731.000000   902.00000   22.000000                39.000000
max    2852.000000   918.00000   45.000000               242.000000

       target_seedlings  seeding_rows  harvest_units  kg_harvested  \
count        485.000000    485.000000     485.000000    240.000000
mean         962.967010     56.538144     877.515464     40.005417
std         1619.385927     95.189725    1472.089640     35.559896
min           33.000000      2.000000      31.000000      0.000000
25%          375.000000     22.000000     341.000000      7.550000
50%          580.000000     34.000000     527.000000     27.000000
75%          801.000000     47.000000     728.000000     68.225000
max         8252.000000    485.000000    7502.000000    128.900000

       units_harvested
count       240.000000
mean        827.116667
std         987.268983
min           0.000000
25%         272.000000
50%         558.000000
75%         890.750000
max        5022.000000

==================================================

=== Data Quality Check for Hydronomics Dataset ===

Missing values:
metric_code      0
date_time        0
week_num         0
value            3
location_code    0
dtype: int64

Data types:
metric_code       object
date_time         object
week_num          object
value            float64
location_code     object
dtype: object

Summary statistics:
             value
count   893.000000
mean    179.667087
std     367.882568
min       3.180000
25%       7.580000
50%      31.500000
75%      79.000000
max    1363.000000

==================================================